<ion-header>
  <ion-toolbar>
    <ion-title>task-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">User Id</ion-label>
    <ion-input [(ngModel)]="userId"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="getAllTasks()">Get Tasks</ion-button>
  <ion-list>
    <ion-item *ngFor="let task of taskList">
      <ion-label>{{task.taskName}}</ion-label>
      <p>{{task.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
