<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kritin Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="task.taskName"required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="task.description" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">User Id</ion-label>
      <ion-input [(ngModel)]="task.uid"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dead Line</ion-label>
      <ion-input [(ngModel)]="task.deadline"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-input [(ngModel)]="task.status"></ion-input>
    </ion-item>
    

    <ion-button color="primary" (click)="onClickAddTask()">Add Task</ion-button>
    <ion-button color="secondary" (click)="goToTaskList()">Task List</ion-button>
    
  </div>
</ion-content>
